body {
  background: #352f5b;
  color: rgb(233, 232, 232);
  font-family: "Helvetica", arial, sans-serif;
}
div {
  max-width: 75%;
  margin: 0 auto;
}
h1 {
  margin-top: 40px;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  border: 1px solid rgb(211, 178, 178);
  padding-left: 10px;
  overflow: auto;
  background: #564692;
}
span {
  float: right;
  margin-left: auto;
  border: 1.5px solid rgb(218, 38, 38);
}
input {
  display: block;
  border-radius: 7px;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  max-width: 100%;
  padding: 10px 50px;
  margin: 0 auto;
}
.checked {
  text-decoration: line-through;
  text-decoration-color: tomato;
}
